
*{
    padding: 0;
    margin: 0;
}


.main{
    display: block;
    margin-left: auto;
    margin-right: auto;
/*    background-color: aquamarine;*/
    width: 90%;
    overflow: hidden;
}

#navbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 33%;
    background: url("files/nav_bg.jpg");
    z-index: 1;
    color: white;
    height: 100%;
    padding: 45px;
}

#container{
    border: 1px solid white;
    padding: 0 0 10 0px;
    position: relative;
}

#topnav{
    border: 1px solid white;
    position: relative;
    top: 0;
    font-size: 42px;
}

#searchbox input{
    background-color: transparent;
    color: white;
    font-family: courier;
    font-size: 22;
    border: 2px solid white;
    border-radius: 100px;
    position: absolute;
    right: 50px;
    top: 5;
}

#search{
    position: absolute;
    right: 07;
    top: 0;
    border: 1px solid red;
    display: block;
    height: 40px;
    width: 40px;
}

#circle{
    border: 2px solid white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 0px;
}
/*{34 6  17  20  }*/
#linex{
    position: absolute;
    top: 34px;
    right: 6px;
    border-top: 2px solid white;
    width: 12px; 
    transform: rotate(45deg);
}

#liney{
    position: absolute;
    top: 3px;
    right: 5px;
    opacity: 1;
    border-top: 2px solid white;
    width: 12px; 
    transform: rotate(-45deg);
}

#topnav i:hover{
    color: aquamarine;
}

/*mid nav here*/

#midnav{
    position: relative;
    top: 60px;
    border: 2px solid yellow;
    margin: 3px;
    height: 60%;
}

#home,#about,#portfolio, a{
    font-family: 'Lato';
    font-size: 30px;
    color: white;
    text-decoration: none;
/*    border: 3px solid white;*/
}

#home{
/*    border: 3px solid green;*/
    position: absolute;
    top: 0;
}

#home:hover #about{
    top: 78px;
}
#about{
    border: 3px solid red;
    position: absolute;
    top: 39px;
}
#portfolio{
    border: 3px solid orange;
    position: absolute;
    top: 78px;
}


#home:hover


/*mid nav ends here*/



#navbase{
    border: 1px solid white;
    margin-top: 20%;
    
    
}

/*
#midnav a:hover{
    color: aquamarine;
    cursor: pointer;
}
*/

#navbase i{
    padding-right: 15px;
    font-size: 22px;
}

#navbase i:hover{
    color: aquamarine;
    cursor: pointer;
}

#box-1{
    position: relative;
    top: 30px;
    display: block;
    padding: 10 0 10 0px;
/*    border: 1px solid black;*/
}


#ham1{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}


#line1{
    border-bottom: 3px solid black;
    border-radius: 5px;
    width: 30px;
    margin-top: 11px;
    transition: all 0.2s;
}


#line2{
    border-bottom: 3px solid black;
    border-radius: 5px;
    width: 30px;
    margin-top: 4px;
    transition: all 0.2s;
}


#line3{
    border-bottom: 3px solid black;
    border-radius: 5px;
    width: 30px;
    margin-top: 4px;
    transition: all 0.2s;
}


#ham1:hover #line1{
    margin-top: 8px;
}


#ham1:hover #line2{
    margin-top: 7px;
}


#ham1:hover #line3{
    margin-top: 7px;
}

#box-2{
/*    border: 1px solid black;*/
    overflow: hidden;
    position: relative;
    margin-top: 7%;
/*    height: 100%;*/
}


#images{
    animation-name: animate_image;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}


@keyframes animate_image{
    0% {transform: scale(1.3); opacity: 1;}
    100% {transform: scale(1); opacity: 0.5;}
}


#text-1{
    position: absolute;
    top: 40%;
    margin-left: 6%;
/*    border: 1px solid black;*/
    width: auto;
    font-size: 50px;
}


#text-1a{
    font-family: 'Saira Stencil One', cursive;
    display: inline-block;
}


#text-1b{
    font-family: 'Josefin Slab', serif;
    background-color: orange;
    letter-spacing: 4;
    display: inline-block;
    padding: 8 8 0 0px;
}


#text-2{
    position: absolute;
    top: 60%;
    width: 100%;
    margin-left:6%;
    font-size: 30px;
    font-family: 'Electrolize', sans-serif;
    border-right: 1px solid black;
    padding: 0px;
    animation-name: oscillate;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    overflow: hidden;
}

@keyframes oscillate{
    0% {width: 0%;}
    50% {width: 20%;}
    100% {width: 0%;}
}



#box-3{
/*    border: 1px solid black;*/
    margin-top: 5%;
    position: relative;
}

#text-3{
    float: left;
    width: 50%;
}

#history{
    font-weight: bold;
    font-family: 'Lato';
    margin-top: 5%;
    font-size: 200%;
    letter-spacing: 1.5;
    display: flex;
}

.underline{
    border-bottom: 1.5px solid black;
}

.grid1{
    display: grid;
    grid-template-columns: auto auto;
}

#description{
    font-family: 'Montserrat';
    margin-top: 5%;
    font-size: 130%;
    display: flex;
}

#content{
    font-family: 'Roboto Mono';
    margin-top: 10%;
    font-size: 90%;
    display: flex;
    color: gray;
}

.text-4{
/*    border: 1px solid black;*/
    margin-top: 5%;
}
.text-4a{
    display: block;
    font-size: 200%;
    letter-spacing: 1.5;
    font-weight: bold;
    font-family: 'Lato';
}

.text-4b{
    display: block;
    margin-top: 2%;
    font-family: 'Montserrat';
    font-weight: bold;
}

#ham2{
    background-color: aquamarine;
/*    border: 1px solid grey;*/
    margin-top: 4%;
    padding: 1.5%;
    display: inline-block;
    overflow: hidden;
    position: relative;
/*    height: 6%;*/
}

#linea{
    border-bottom: 3px solid black;
    border-radius: 5px;
    width: 30px;
    margin-top: 0%;
    position: absolute;
    top: 16px;
/*    left: 23%;*/
/*    margin-top: 10px; */
    transition: all 0.5s;
    
}

#lineb{
    border-bottom: 3px solid black;
    border-radius: 5px;
    width: 30px;
    margin-top: 9px;
/*
    position: absolute;
    top: 22px;
    left: 23%;
*/
/*    margin-top: 5px;*/
    transition: all 0.5s;
}




#linec{
    border-bottom: 3px solid black;
    border-radius: 5px;
    width: 30px;
    margin-top: 8px;
/*
    position: absolute;
    top: 32px;
    left: 23%;
*/
/*    margin-top: 5px;*/
    transition: all 0.5s;
    
}

#lined{
    border-bottom: 3px solid black;
    border-radius: 5px;
    width: 30px;
/*    margin-top: 4px;*/
    
    position: absolute;
    top: 48px;
/*    left: 23%;*/
    opacity: 0;
/*    margin-top: 5px;*/
    transition: all 0.5s;
    
}

#ham2:hover #linea{
    opacity: 0;
    top: 8;
}

#ham2:hover #lineb{
    margin-top: 0;
}

#ham2:hover #linec{
    margin-top: 8px;
    margin-bottom: 30%;
}

#ham2:hover #lined{
    opacity: 1;
    top: 39px;
}

#box-4{
/*    border: 1px solid black;*/
    margin-top: 5%;
}


.grid2{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1%;
}

.grid2item{
    margin-left: 1%;
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 1%;
    transition: all 0.5s;
    border-radius: 5px;
}

.grid2item:hover{
    box-shadow: 3px 3px 20px 0px black;
}

.icon{
    font-size: 300%;
}

.head{
    font-weight: bold;
    font-family: 'Lato';
    margin-top: 5%;
/*    display: flex;*/
    font-size: 120%;
    letter-spacing: 1.5;
}

.des{
    font-family: 'Roboto Mono';
    margin-top: 3%;
    font-size: 90%;
/*    display: flex;*/
    color: gray;
}

.grid3{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10%;
    grid-gap: 2%;
/*    border: 1px solid black;*/
}

.grid3item{
    overflow: hidden;
    background-color: aquamarine;
    position: relative;
}

.grid3item img{
    transition: transform 0.5s;
}

.grid3item:hover img{
    transform: scale(1.1);
    opacity: 0.2;
    cursor: crosshair;
}

.topborder{
    border-top: 5px solid black;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 00%;
    transition: all 0.5s ease-out;   
}

.grid3item:hover .topborder{
    width: 100%;
}

.bottomborder{
    border-top: 5px solid black;
    position: absolute;
    bottom: 0;
    right: -370px;
    z-index: 1;
    width: 100%;
    transition: all 0.5s;  
}

.grid3item:hover .bottomborder{
    right: 0;
}

.leftborder{
    border-left: 5px solid black;
    position: absolute;
    bottom: -400;
    z-index: 1000;
    left: 0;
    height: 100%;
    transition: all 0.5s ease-out; 
    transition-delay: 0.5s;
}

.grid3item:hover .leftborder{
    bottom: 0;
}

.rightborder{
    border-right: 5px solid black;
    position: absolute;
    top: -400;
    right: 0;
    height: 100%;
    transition: all 0.5s ease-out; 
    transition-delay: 0.5s;
}

.grid3item:hover .rightborder{
    top: 0;
}

.heart{
    padding: 10;
    position: absolute;
    z-index: 1;
    top: 0;
/*    border: 1px solid;*/
    font-family: verdana;
    text-align: center;
    opacity: 0;
    transition: all 0.6s;
    transition-delay: 0s;
}

.grid3item:hover .heart{
    opacity: 1;
}

.stylefashion{
/*    border: 1px solid white;*/
    font-weight: bold;
    font-family: 'Lato';
    font-size: 150%;
    letter-spacing: 1.5;
    opacity: 1;
    position: absolute;
    z-index: 1;
    bottom: -40;
    padding-left: 7%; 
    transition: all 0.3s;
    transition-delay: 0.1s;
/*    transition-delay: 0;*/
}

.grid3item:hover .stylefashion{
    bottom: 50px;
}

.newbagstyle{
    position: absolute;
    bottom: -20;
/*    border: 1px solid white;*/
    font-family: 'verdana';
    font-size: 90%;
    padding-left: 7%; 
    z-index: 1;
    transition: all 0.5s;
    transition-delay: 0.2s;
}

.grid3item:hover .newbagstyle{
    bottom: 20;
}

#reload{
    margin-top: 10%;
    display: block;
    text-align: center;
    font-size: 420%;
/*    border: 1px solid black;*/
}

#reload i:hover {
    color: aquamarine;
}

.grid4{
    display: block;
    grid-template-columns: auto auto;
/*    border: 1px solid black;*/
    margin-top: 5%;
    height: 30%;
    position: relative;
}

#greenbox{
    background-color: aquamarine;
    display: inline-block;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}


#stayinf{
    font-family: 'Lato';
    color: black;
    display: inline-block;
    width: 50%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    font-size: 130%;
    
}

#blackbox{
    display: inline-block;
    width: 50%;
    background-color: black;
    
/*    border: 50px solid black;*/
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#insidebox{
    display: inline-block;
    width: 70%;
    background-color: white;
    border: 1px solid black;
/*    border: 50px solid black;*/
    position: absolute;
    top: 50%;
    right: 50%%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    transform: translate(25%,-50%);
    
}

#insidebox input{
    width: 50%;
    padding: 2%;
    font-family: monospace;
    border: 1px solid aquamarine;
}

#insidebox button{
    padding: 10;
    font-family: 'Lato';
    color: white;
    background-color: aquamarine;
    border-radius: 5px;
    border: none;
    
}

#footer{
    margin-top: 7%;
/*    border: 1px solid black;*/
    padding-top: 6%;
    padding-bottom: 4%;
    display: flex;
/*    grid-template-columns: auto auto auto;*/
    background-color: lightgray;
    padding-left: 5%;
    padding-right: 5%;
}

#address{
/*    border: 1px solid black;*/
/*
    display: inline-block;
    width: 30%;
    margin-left: 0.5%;
*/
    display: inline-block;
    width: 30%;
    text-align: left;
/*    display: flex;*/
/*
    position: absolute;
    top: 35%;
    left: 7%;
*/
}


#links_fafa{
/*    border: 1px solid black;*/
    display: inline-block;
    width: 40%;
    text-align: center;
/*    display: flex;*/
/*
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
*/
}

#links_fafa i{
    padding-left: 2%;
    padding-right: 2%;
}

#links_fafa i:hover{
    color: aquamarine;
}

#contact{
/*    border: 1px solid black;*/
    width: 30%;
    display: inline-block;
    text-align: right;
/*    display: flex;*/
/*
    position: absolute;
    right: 7;
    top: 35%;
*/
}

.desnew{
    font-family: 'Roboto Mono';
    margin-top: 3%;
    font-size: 90%;
    color: gray;
}

.addflex{
    display: flex;
}
